.header {
  height: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.header-text-orange {
  color: orange;
}

.form-horizontal {
  margin-bottom: 200px;
}

.jumbotron {
  margin-bottom: 1rem;
  padding-bottom: 20px;
  padding-top: 20px;
}
